<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title || 'Webpack App'%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
  <div id="root"></div>
</body>
</html>
